{% extends 'phil/base.html' %}
{% load static %}   <!-- This tag connecting to static files (CSS,JS,IMAGES) -->
{% load i18n %}


{% block title %}{% trans 'About analytics' %}{% endblock %}
{% block content %}


<h1>{% trans 'Analytics (using Excel, SQL, Python)' %}</h1>
<p>{% trans 'I like decision-making based on numbers (facts). I visualize data based on numbers beautifully and clearly (graphs, tables, etc.)' %}</p>
<ul>
<li type="square">{% trans 'I use Excel & GoogleSheets;' %}</li>
<li type="square">{% trans 'I use Git & GitHub;' %}</li>
<li type="square">{% trans 'I use MySQL, SQLite, PostgreSQL;' %}</li>
<li type="square">{% trans 'Django framework;' %}</li>
<li type="square">{% trans 'PYTHON libraries: NumPy, Pandas, Tkinter and other' %}</li>
</ul>

<h3>{% trans 'The system I created on Excel (Google Sheets):' %}</h3>
<ul><b>{% trans 'Advantages of Excel (Google Sheets):' %}</b>
    <li type="square">{% trans 'Everything can be counted (taken into account) and saved;' %}</li>
    <li type="square">{% trans 'Based on the saved data, it is possible to plan expenses and receipts in the  future;' %}</li>
    <li type="square">{% trans 'You can set up remote transmission of information. Only the Internet is needed. You  will always have access, even if you go somewhere. Access is possible even from a mobile phone;' %}</li>
    <li type="square">{% trans 'Everything can be viewed from any modern smartphone. You don`t need a computer. Only a user skill is needed to configure the display, there is no need to involve a programmer (or a system administrator);' %}</li>
    <li type="square">{% trans 'The ability to customize the report view that is convenient for you. Emphasize important data, remove unnecessary;' %}</li>
    <li type="square">{% trans 'There are quite a lot of Excel specialists. Without problems, you can find an alternative  specialist, unlike special programs.' %}</li>
</ul><div align="center">
<img src="{% static 'phil/excel/structure.png' %}" width="1000"><br><br>
<ul><b>{% trans 'Download:' %}</b>
    <li type="square"><a href="https://drive.google.com/file/d/1N_ebNLDfBDGeC-Z9qLFU9jH_8tCz4G7e/view?usp=sharing" target="_blank">{% trans 'Larger diagram (png file);' %}</a></li>
    <li type="square"><a href="https://docs.google.com/spreadsheets/d/1CsraczEpUd6saEuoUln3y0KSCUfCm00hDrzM_f3IFrE/edit?usp=sharing" target="_blank">{% trans 'Summary table (GSheets file);' %}</a></li>
    <li type="square"><a href="https://www.dropbox.com/s/zbvqnhs9z9pwzhm/%D0%A8%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD%20%D1%80%D0%B0%D1%81%D1%87%D0%B5%D1%82%D0%BA%D0%B0.xlsx?dl=0" target="_blank">{% trans 'Point of sale accounting file (Excel file).' %}</a></li>
</ul>
<img src="{% static 'phil/excel/without_hands.jpeg' %}" width="1000"><br><br>
<h2>{% trans 'Analytics. We take into account the ratio to the last month and to the average value for the year:' %}</h2><br>
<img src="{% static 'phil/excel/analytics.jpg' %}" width="1000"><br><br>

<h2>{% trans '"Little one" of formula. There are many such formulas out there:' %}</h2><br>
<img src="{% static 'phil/excel/formula.jpg' %}" width="1000"><br><br>
</div>
<br><br>
{% endblock content %}