{% extends 'phil/base.html' %}
{% load static %}   <!-- This tag connecting to static files (CSS,JS,IMAGES) -->
{% load i18n %}

{% block title %}{% trans 'About django development' %}{% endblock %}
{% block content %}
<h1>{% trans 'Development of web projects using the Django framework (Python)' %}</h1>

<b>{% trans 'Practice:' %}</b>
<ul>{% trans 'I passed ' %}<a href="https://www.youtube.com/watch?v=llbtoQTt4qw" target="_blank">{% trans 'course Dennis Ivy' %}</a>, {% trans 'created a training project "Django To Do List App With User Registration & Login"' %}. <a href="https://github.com/Phil-naz/Task_manager" target="_blank">GitHub.</a><br>
<b>{% trans 'In the project:' %}</b>
<li type="square">{% trans 'creating a task manager;' %}</li>
<li type="square">{% trans 'user registration & login;' %}</li>
<li type="square">{% trans 'DELETE functionality;' %}</li>
<li type="square">{% trans 'search function;' %}</li>
</ul>

<ul>{% trans 'I passed ' %}<a href="https://www.youtube.com/playlist?list=PLCC34OHNcOtr025c1kHSPrnP18YPB-NFi" target="_blank">{% trans 'course John Elder' %}</a>, {% trans 'created a training project "Create A Simple Blog With Python and Django"' %}. <a href="https://github.com/Phil-naz/codemy_ablog" target="_blank">GitHub.</a><br>
<b>{% trans 'In the project:' %}</b>

<li type="square">{% trans 'creating a blog;' %}</li>
<li type="square">{% trans 'ability to create categories and assign a category to blog posts;' %}</li>
<li type="square">{% trans 'creating SLUG addresses to categories;' %}</li>
<li type="square">{% trans 'system of ' %}{% trans 'Registration ' %}{% trans 'and ' %}{% trans 'authorizations ' %}{% trans 'users;' %}</li>
<li type="square">{% trans 'adding posts to a website with a photo. There is also the possibility of formatting the text of the post.' %} {% trans 'It is possible to make only registered and authorized users;' %}</li>
<li type="square">{% trans 'the ability to edit and delete posts to certain users;' %}</li>
<li type="square">{% trans 'creating a system of likes;' %}</li>
<li type="square">{% trans 'creating a post comment system;' %}</li>
</ul>

<ul>{% trans 'I passed ' %}<a href="https://www.youtube.com/watch?v=FyTL1bnUx5I&list=PLA0M1Bcd0w8xO_39zZll2u1lz_Q-Mwn1F" target="_blank">{% trans 'Selfedu training ' %}</a>, {% trans 'created a training project "Women"' %}</a>. <a href="https://github.com/Phil-naz/selfedu_coolsite" target="_blank">GitHub.</a><br>
<b>{% trans 'In the project:' %}</b>
<li type="square">{% trans 'selection of articles with a photo;' %}</li>
<li type="square">{% trans 'articles are divided into categories, you can choose to display articles by certain category;' %}</li>
<li type="square">{% trans 'system of ' %}{% trans 'Registration ' %}{% trans 'and ' %}{% trans 'authorizations ' %}{% trans 'users;' %}</li>
<li type="square">{% trans 'adding articles to a website with a photo. ' %}{% trans 'It is possible to do this only for registered and authorized users;' %}</li>
<li type="square">{% trans 'SLUGs are used for routing to articles;' %}</li>
<li type="square">{% trans 'using MIXINs to remove code duplication;' %}</li>
<li type="square">{% trans 'using paginated navigation (pagination);' %}</li>
</ul>

<ul><b>{% trans 'Additionally:' %}</b>
<li type="square">{% trans 'this site is completely made on the Django framework: here I create and upload projects (including educational ones). The source code of this project can be  viewed at ' %}<a href="https://github.com/Phil-naz/djsite" target="_blank">GitHub</a>;</li>
<li type="square">{% trans 'this site is made multilingual' %};</li>
<li type="square"><a href="{% url 'measurements' %}" target="_blank">{% trans 'I created an application in which it possible to save, compare with last date and watch the dynamics of body measurements;' %}</a> <a href="https://github.com/Phil-naz/measurements" target="_blank">GitHub;</a></li>
<li type="square">{% trans 'I am creating an application with a list of books I have read, in which you can write your description of the book and add quotes from the book;' %}</li>
<li type="square">HTML;</li>
<li type="square">CSS;</li>
<li type="square">Git & GitHub;</li>
<li type="square"><strong>PYTHON:</strong></li>
</ul>
 <ul>
  <ol>

  <li type="square">Django Framework</li>
  <li type="square">Django Rest Framework (DFR)</li>
  <li type="square">NumPy</li>
  <li type="square">Pandas</li>
  <li type="square">Tkinter</li>
  <li type="square">F-strings</li>
  <li type="square">Lists and operations on them</li>
  <li type="square">Loops (nested loops)</li>
  <li type="square">Iterators and list generators</li>
  <li type="square">Functions (named arguments, actual and formal parameters, functions with an arbitrary number of parameters). o Recursive functions</li>
  <li type="square">Anonymous (lambda) functions</li>
  <li type="square">Closures in Python. Nested functions</li>
  <li type="square">Celery</li>
</ul>
    <img style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)" src="{% static 'phil/courses/stepic1.jpg' %}" width="500">&nbsp;&nbsp;
    <img style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)" src="{% static 'phil/courses/ozon.jpeg' %}" width="500">


<br><br>

{% endblock content %}

