{% extends 'phil/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Add measurements' %}{% endblock %}
{% block content %}

<div align="center">
    <h2>{% trans 'Add measurements' %}</h2>

<table border="0" cellpadding="0" cellspacing="0" align="center">
        <tr><td align="center">

<!--Start adding of body measurements-->
    {% if request.user.is_authenticated %}
<table border="0" cellpadding="0" cellspacing="0" align="center">
    <tr><td align="center"><img src="{% static 'phil/images/measurements.png' %}"></td></tr>
    <tr><td align="center"><br>
<div class="last">{% trans 'Red digits near fields is your last data' %}</div><br>
{% trans '1. SHOULDERS' %}<br>
    <form action="{% url 'measurements' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>{{ form.non_field_errors }}</div>
{% trans '(by the largest place, scar or mole)' %}<br>
    {{ form.Shoulders }}    <div class="last">{% if last %} {{last.Shoulders}} {% endif %}</div><br><br>
{% trans '2. CHEST' %}<br>
{% trans '(on the nipples)' %}<br>
    {{ form.Chest }}<div class="last">{% if last %} {{last.Chest}} {% endif %}</div><br><br>
{% trans '3. WAIST' %}<br>
{% trans '(along the lower edge)' %}<br>
    {{ form.Waist }}<div class="last">{% if last %} {{last.Waist}} {% endif %}</div><br><br>
{% trans '4. BUTTOCKS' %}<br>
{% trans '(by the largest place, scar or mole)' %}<br>
    {{ form.Buttocks }}<div class="last">{% if last %} {{last.Buttocks}} {% endif %}</div><br><br>
{% trans '5. HIPS' %}<br>
{% trans '(left and right - by the largest place, scar or mole)' %}<br>
    {{ form.Hips }}<div class="last">{% if last %} {{last.Hips}} {% endif %}</div><br><br><br>
{% trans 'WEIGHT' %}<br>
    {{ form.Weight }}<div class="last">{% if last %} {{last.Weight}} {% endif %}</div><br>
</td></tr></table><br>

<table border="0" cellpadding="0" align="center">
<tr valign="top">
<td align="center">


    <div class="form-error">{{ f.errors }}</div>

    <button type="submit" class="button_measurements">{% trans 'Add' %}</button><br><br>
    </form></div>
</td>

    {% else %}
<td width="100%">
    <div align="center"><b><a href="{% url 'login' %}">{% trans 'Log in' %}</a>{% trans ', if necessary ' %}<a href="{% url 'register' %}">{% trans 'register' %}</a>{% trans ', it will be fields here for adding body measurements.' %}</b></div>
    <br><br>
</td></tr></Table>
{% endif %}

<!--End adding of body measurements-->
</td></tr>
<table><tr>
{% endblock %}
